<div class="">
    <h3>first semester</h3>
    <table id="myTable">

        <tr>

            <th>book</th>
            <th>marks</th>
            <th>total</th>
        </tr>
        @foreach ($marks1 as $r)
        <tr>
            <td> <span>{{$r->book->name}}</span></td>
            <td> <span id="credit">{{$r->Marks}}</span> </td>
            <td> <span id="marks">{{$r->total}}</span></td>

        </tr>
        @endforeach
        <tr>
            <td></td>
            <td style="text-align:center;background:grey;"> <span>{{$results1}}%</span></td>
            <td></td>

        </tr>
    </table>
</div>